* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-image: url('fondo.jpg');		
}

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: row; 
	align-items: left;
	justify-content: left;
}

form {
	display: flex;
	max-height: 1000px;
	border-radius: 10px;
	flex-direction: column;
}

.form-register {
	width: 1200px;
	background: #1C2833;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 130px;
	margin-right: 130px;
	margin-top: 20px;
	margin-bottom: 20px;

	font-family: 'calibri';
	color: white;
	flex-direction: column;
}

  .form-register h4 {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
  }

  #buttons
  {
	  text-align: center;
  }
  
  .design
  {
	  display: inline-block;
	  width: 49.7%;
	  background: #4eb36c;
	  border: none;
	  padding: 12px;
	  color: white;
	  margin: 10px 0;
	  font-size: 14px;
  }
  
  .design2
  {
	  display: inline-block;
	  width: 49.7%;
	  background: #b34e4e;
	  border: none;
	  padding: 12px;
	  color: white;
	  margin: 10px 0;
	  font-size: 14px;
  }


  #buttons2
  {
	  text-align: center;
  }
  
  .design3
  {
	  display: inline-block;
	  width: 49.7%;
	  background: #4eb3a4;
	  border: none;
	  padding: 12px;
	  color: white;
	  margin: 10px 0;
	  font-size: 14px;
	  
   
  }
  
  .design4
  {
	  display: inline-block;
	  width: 49.7%;
	  background: #b3874e;
	  border: none;
	  padding: 12px;
	  color: white;
	  margin: 10px 0;
	  font-size: 14px;
  }