* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-image: url('fondo.jpg');		
}

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: row; 
	align-items: left;
	justify-content: left;
}

form {
	display: flex;
	min-height: 100px;
	border-radius: 10px;
	flex-direction: column;
}

.form-register {
  
    
	width: 800px;
	background: #1C2833;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 283px;
	margin-right: 283px;
	margin-top: 20px;
	margin-bottom: 20px;

	font-family: 'calibri';
	color: white;
	flex-direction: column;
}

  .form-register h4 {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
  }
	
  .form-register .botons {
	width: 100%;
	background: #4eb36c;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 14px;
  }

  .form-register .botons2 {
	width: 100%;
	background: #b34e4e;
	border: none;
	padding: 12px;
	color: white;
	margin: 10px 0;
	font-size: 14px;
    }

    .form-register .botons3 {
        width: 100%;
        background: #dda760;
        border: none;
        padding: 12px;
        color: white;
        margin: 10px 0;
        font-size: 14px;
      }

      .form-register .botons4 {
        width: 100%;
        background: #b3874e;
        border: none;
        padding: 12px;
        color: white;
        margin: 10px 0;
        font-size: 14px;
      }
	
